.navbar-brand img {
	height: 100%;
}

.main {
	margin-top: 4em;
}

.no-pa-ma {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.center {
	vertical-align: middle;
	text-align: center;
}

.tab-pane .row {
	margin: 0 0 1em 0;
}

textarea {
	max-width: 100%;
}

.preloader {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	
}